.restaurants{
    display: flex;
    flex-direction: row;
}
.restaurant-component{
    margin-left:30px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.restaurant-component-container:hover{
    box-shadow: 0 0 15px rgba(142,142,142,0.5)
}
.bigMap{
    position: relative;

}
#map{
    border-radius: 10px;
}
.reviewComponent{
    overflow: hidden;
    width: 90%;
    height: 90px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}
#restaurant-component-image{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.restaurant-component-container{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 50px;
    border: 2px solid rgb(235,235,235);
    border-radius: 10px;
    min-width: 850px;
    cursor:pointer;
    margin-bottom: 50px;
    transition: box-shadow 0.2s ease-in-out;
}
.onClickComponent h2{
    margin-bottom: 5px;
}
.avgRating{
    margin-bottom: 5px;
}
.categories{
    margin-bottom: 5px;
}
.restaurantsContainer div.searchAndError{
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
}
.restaurantsContainer div.searchAndErrorAuto{
    display: flex;
    flex-direction: row;
    width: 900px;
}
.restaurantsContainer div.errorSearchDiv{
    position: relative;
    background-color: white;
    font-weight:800;
    font-size: 12px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: 30px;
    top:20px;
    right: 10px;
    background-color: rgba(255,0,0,0.7)
}

.restaurantsContainer .searchBar{
    width: 1200px;
}
.restaurantsContainer form input{
    width: 250px;
}

.restaurantsContainer form button{
    width: 50px;
}
.restaurantsContainer .auto input{
    width: 250px;
}
.restaurantsContainer .auto{
    width: 250px;
}
.restaurantsContainer .auto ~button{
    width: 50px;
}
.restaurantsContainer div.errorSearchLocDiv{
    position: relative;
    background-color: white;
    font-weight:800;
    font-size: 12px;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    height: 30px;
    top:20px;
    left: 10px;
    background-color: rgba(255,0,0,0.7)
}
.auto-dropdown:last-child{
    padding-bottom:2px;
}
