.createReviewContainer .searchBar{
    display:none;
}

.createReviewBody{
    display: flex;
    flex-direction: column;
    margin-left:200px;
    margin-top: 50px;

}
.reviewCreateRestaurantName h1{
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight:700;
    color:rgb(45,46,47);
}

.createReviewFormContainer{
    border: 2px solid rgb(200,201,202);
    border-radius: 5px;
    width: 650px;
    height: 400px;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
