.signupFormDiv form{
    display: flex;
    flex-direction: column;
}
.signupFormBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
}
#signupTopBar{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(211,35,35);
}

#signupTopBar i.fab{
    padding-top:15px;
    padding-bottom:20px;
    color:white;
    cursor:pointer;
}
.signupPage{
    display: flex;
    flex-direction: column;
}
.signupFormDiv .formHeader{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:200;
    margin-bottom:30px;
}
.formHeader h2{
    color:rgb(211,35,35)
}
.signupFormImage{
    margin-left: 120px;
    margin-top: 20px;
}
#loginfromsignup{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#loginfromsignup a{
    color:rgb(0,115,187);
    text-decoration: none;
}
.signupFormDiv form input{
    width:300px;
    height: 35px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-bottom:20px;
    border-radius: 5px;
    border: 1px solid rgb(153,153,153);
}
.signupFormDiv form input::-webkit-input-placeholder{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.signupFormDiv form button{
    background-color:rgb(211,35,35);
    border:none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16.5px;
    height: 35px;
    cursor: pointer;
}
